<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Buffalo Sessions</title>

        <style type="text/css">
            body {
                text-align: center;
            }
            span {
                display: block;
                margin-top: 50px;
                font-size: 3em;
                font-family: "Lucida Console", Monaco, monospace;
                font-weight: bold;
            }
        </style>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    </head>

    <body>
        <span>coming soon</span>
        <img id="buffalo" src="bundles/buffalo/img/buffalo.png" />

        <script>
            var $buffalo = $('#buffalo');

            var doBuffaloStuff = function() {
                rand = Math.round(Math.random() * 10) - 6;

                $buffalo.css('opacity', 0.8 + (Math.random() / 5));

                switch (rand) {
                    case 1:
                        $buffalo.css('height', $buffalo.height() + 1);
                        break;
                    case 2:
                        $buffalo.css('height', $buffalo.height() - 1);
                        break;
                    case 3:
                        $buffalo.css('width', $buffalo.width() + 1);
                        break;
                    case 4:
                        $buffalo.css('width', $buffalo.width() - 1);
                        break;
                }
            }

            setInterval(doBuffaloStuff, 50);
        </script>
    </body>
</html>
